<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>404</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>

	{ margin: 0; padding: 0; }

	html { 
        background: url('../static/404.gif') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity:0.5;

}

</style>
</head>

<body >
	
		<h1> SNAP! NO RESULT!</h1>
	

</body>
</html>
 